.kubecon {
    &__logo {
        width: 350px;
    }

    @keyframes rotation {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(359deg);
        }
    }

    &__content {
        overflow: auto;
        position: relative;
        margin: 0 0 40px;
        padding: 26px 30px;
        color: #676c76;
        background-color: #fff;
        border-radius: 6px;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
        border-left: 1px solid #f3f1fa;

        text-align: center;

        img {
            width: 350px;
        }
        .btn {
            margin: 1em auto;
        }

        li, p {
            text-align: left;
        }
    }
}