// Variables
$gravitation-constant: 6.673;

$stars: 300;

.solar-system {

    .container {
        margin: 250px auto;
        width: 768px;
        transform: scale(0.6);
    }
    
    // Planets & Sun
    .sun {
        background: linear-gradient(90deg, #BB513E, darken(#BB513E, 9%));
        box-shadow: inset 15px 10px 0px darken(#BB513E, 9%);
        width: 60px;
        height: 60px;
        border-radius: 100%;
        margin: 105px auto;
        position: absolute;
        left: 0;
        right: 0;
    }
    
    .mercury {
        background: linear-gradient(90deg, #453217, darken(#453217, 7%));
        box-shadow: inset 0px 7px 0px darken(#453217, 7%);
        width: 20px;
        height: 20px;
        border-radius: 100%;
        
        margin-top: 1 * 10 + px;
    }
    
    .venus {
        background: linear-gradient(90deg, #AC6339, darken(#AC6339, 7%));
        box-shadow: inset 0px 7px 0px darken(#AC6339, 12%);
        width: 20px;
        height: 20px;
        border-radius: 100%;
        
        margin-top: 3 * 10 + px;
    }
    
    .earth {
        background: linear-gradient(90deg, #3E8EBB, darken(#3E8EBB, 7%));
        box-shadow: inset 0px 7px 0px darken(#3E8EBB, 12%);
        width: 20px;
        height: 20px;
        border-radius: 100%;
        
        margin-top: 7 * 10 + px;
    }
    
    .mars {
        background: linear-gradient(90deg, #6F3125, darken(#6F3125, 7%));
        box-shadow: inset 0px 7px 0px darken(#6F3125, 9%);
        width: 20px;
        height: 20px;
        border-radius: 100%;
        
        margin-top: 11 * 10 + px;
    }
    
    .jupiter {
        background: linear-gradient(90deg, #3D2C14, darken(#3D2C14, 7%));
        box-shadow: inset 0px 7px 0px darken(#3D2C14, 5%);
        width: 20px;
        height: 20px;
        border-radius: 100%;
        
        margin-top: 16 * 10 + px;
    }
    
    .saturn {
        background: linear-gradient(90deg, #E97340, darken(#E97340, 7%));
        box-shadow: inset 0px 7px 0px darken(#E97340, 14%);
        width: 20px;
        height: 20px;
        border-radius: 100%;
        
        margin-top: 20 * 10 + px;
    }
    
    .uranus {
        background: linear-gradient(90deg, #337799, darken(#337799, 7%));
        box-shadow: inset 0px 7px 0px darken(#337799, 12%);
        width: 20px;
        height: 20px;
        border-radius: 100%;
        
        margin-top: 24 * 10 + px;
    }
    
    .neptune {
        background: linear-gradient(90deg, #6ACDC0, darken(#6ACDC0, 7%));
        box-shadow: inset 0px 7px 0px darken(#6ACDC0, 17%);
        width: 20px;
        height: 20px;
        border-radius: 100%;
        
        margin-top: 28 * 10 + px;
    }
    
    .pluto {
        background: linear-gradient(90deg, #C6C053, darken(#C6C053, 7%));
        box-shadow: inset 0px 7px 0px darken(#C6C053, 12%);
        width: 20px;
        height: 20px;
        border-radius: 100%;
        
        margin-top: 32 * 10 + px;
    }
    
    // Planets Orbit
    [class*="-orbit"] {
        position: absolute;
        left: 0;
        right: 0;
        border: 1px solid #333;
        box-shadow: 0px 1px 1px #4096EE;
        border-radius: 100%;
    }
    
    .mercurys-orbit {
        width: 1 * 100 + px;
        height: 1 * 100 + px;
    
        margin: 85px auto;
        
        animation: gravity $gravitation-constant * 0.09 + s linear infinite;
    }
    
    .venus-orbit {
        width: 2 * 100 - 30 + px;
        height: 2 * 100 - 30 + px;
    
        margin: 50px auto;
        
        animation: gravity $gravitation-constant * 0.5 + s linear infinite;
    }
    
    .earths-orbit {
        width: 3 * 100 - 30 + px;
        height: 3 * 100 - 30 + px;
    
        margin: 0px auto;
        
        animation: gravity $gravitation-constant * 1 + s linear infinite;
    }
    
    .mars-orbit {
        width: 4 * 100 - 30 + px;
        height: 4 * 100 - 30 + px;
    
        margin: -50px auto;
        
        animation: gravity $gravitation-constant * 1.5 + s linear infinite;
    }
    
    .jupiters-orbit {
        width: 5 * 100 - 30 + px;
        height: 5 * 100 - 30 + px;
    
        margin: -100px auto;
        
        animation: gravity $gravitation-constant * 2 + s linear infinite;
    }
    
    .saturns-orbit {
        width: 6 * 100 - 30 + px;
        height: 6 * 100 - 30 + px;
    
        margin: -150px auto;
        
        animation: gravity $gravitation-constant * 3 + s linear infinite;
    }
    
    .uranus-orbit {
        width: 7 * 100 - 30 + px;
        height: 7 * 100 - 30 + px;
    
        margin: -200px auto;
        
        animation: gravity $gravitation-constant * 4 + s linear infinite;
    }
    
    .neptunes-orbit {
        width: 8 * 100 - 30 + px;
        height: 8 * 100 - 30 + px;
    
        margin: -250px auto;
        
        animation: gravity $gravitation-constant * 5 + s linear infinite;
    }
    
    .plutos-orbit {
        width: 9 * 100 - 30 + px;
        height: 9 * 100 - 30 + px;
    
        margin: -300px auto;
        margin-left: -50px;
        
        animation: gravity $gravitation-constant * 6 + s linear infinite;
    }
    
    // Stars
    .star-container {
        animation: gravity 200s linear infinite;
        width: 100%;
        height: 100%;
        position: absolute;
        margin: -200px 0;
    }
    
    // Styles For Stars
    .star {
        background: #FFF;
        border-radius: 100px;
        width: 1px;
        height: 1px;
        position: absolute;
        filter: brightness(5);
    }
    
    @for $i from 1 through $stars {
        .star:nth-of-type(#{$i}) {
        margin-left: random(4000) + px;
        margin-top: random(900) + px;
        
        animation: flash random(10) + s linear infinite;
        }
    }
    
    // Animate Stars
    @keyframes flash {
        0% {
        opacity: 0;
        }
        50% {
        opacity: 1;
        }
        100% {
        opacity: 0;
        }
    }
    
    // Gravitational Pull 
    @keyframes gravity {
        to {
        transform: rotate(360deg);
        }
    }
}
