@import '../../styles/config';

.project {

    a.project__doc-link {
        color: white;
        position: relative;
        padding-right: 1em;
        padding-bottom: 1em;
    }

    &__headline-container {
        position: relative;

        h1 {
            font-weight: 700;
            font-size: 3em;
            color: #fff;
    
            @media screen and (max-width: $screen-sm-max) {
                font-size: 1.7em;
            }
        }
    
        h2 {
            font-family: inherit;
            font-size: 1.3em;
            font-weight: 500;
            color: $argo-color-gray-3;
    
            @media screen and (max-width: $screen-sm-max) {
                font-size: 1em;
            }
        }
    }

    &__headline {
        position: absolute;
        left: 0;
        top: 7em;
    }

    &__header {

        .animations {
            @media screen and (max-width: $screen-md-min) {
                margin-top: -150px !important;
                margin-left: -250px !important;
            }
        }

        overflow: hidden;
        height: 280px;
        margin-bottom: 10px;

        @media screen and (min-width: $screen-md-min) {
            height: 550px;
        }

        &::before {
            content: '';
            background-color: rgb(39,12,83);
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            height: 400px;

            @media screen and (min-width: $screen-md-min) {
                height: 700px;
            }
        }

        .columns {
            padding: 0;
        }

        img {
            position: relative;
            width: 200px;
            margin-top: 6em;
        }

        .main__container {
            overflow: hidden;
        }
    }
}
