$base-width: 1080px;
$header-height: 68px;

$base-color: #2c2e51;
$argo-orange: #f96822;
$argo-link-color: #2d87cd;

$screen-lg-min: 1024px;
$screen-md-max: $screen-lg-min - 1;
$screen-md-min: 768px;
$screen-sm-max: $screen-md-min - 1;

$argo-color-gray-3: #DEE6EB;
$argo-color-cyan: #3DE3FF;
