$base-width: 1080px;
$header-height: 68px;

$base-color: #2c2e51;
$argo-orange: #f96822;
$argo-link-color: #2d87cd;

$screen-lg-min: 1024px;
$screen-md-max: $screen-lg-min - 1;
$screen-md-min: 768px;
$screen-sm-max: $screen-md-min - 1;

$argo-color-gray-1: #F8FBFB;
$argo-color-gray-2: #EFF3F5;
$argo-color-gray-3: #DEE6EB;
$argo-color-gray-4: #CCD6DD;
$argo-color-gray-5: #8FA4B1;
$argo-color-gray-6: #6D7F8B;
$argo-color-gray-7: #495763;
$argo-color-gray-8: #363C4A;
$argo-color-gray-9: #000000;
$argo-color-cyan: #3DE3FF;
