@import '../../styles/config';

.home {
    &__bar {
        position: relative;
        overflow: hidden;
        background-color: #fff;
        box-shadow: 1px 1px 1px rgba(0,0,0,.1);
    
        @media screen and (max-width: $screen-sm-max) {
            padding-bottom: 100px;
        }
    
        &-additional {
            margin-left: 60px;
            padding: 30px;
            font-weight: 500;
            color: #fff !important;
            background-color: #2e86ce;
            
            @media screen and (max-width: $screen-sm-max) {
                position: absolute;
                bottom: 0;
                width: 100%;
                margin: 0;
                float: none;
            }
    
            .fa {
                font-size: 2em;
                vertical-align: middle;
            }
        }
    
        &-content {
            padding: 30px;
            font-size: 1.2em;
            font-weight: 500;
            color: #0055b9;
        }
    }

    &__intro {
        position: relative;
        padding: 100px 0 10px;
        overflow: hidden;
    
        &:before {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 106px;
            left: 0;
            background: linear-gradient(to right, rgba(#270c53, 0.9) 0%, rgba(#3e449d, 0.9) 100%), url(../../assets/images/stars.gif);
            content: '';
            
            @media screen and (max-width: $screen-sm-max) {
                bottom: 0;
            }
        }
    
        .main__container {
            position: relative;
        }
    
        .columns {
            padding: 0;
        }
    
        @media screen and (max-width: $screen-sm-max) {
            margin-bottom: 40px;
            padding: 20px 0 40px;
        }
    
        h1 {
            font-weight: 700;
            font-size: 3em;
            color: #fff;
    
            @media screen and (max-width: $screen-sm-max) {
                font-size: 1.7em;
            }
        }
    
        h2 {
            font-family: inherit;
            font-size: 1.3em;
            font-weight: 500;
            color: $argo-color-gray-3;
    
            @media screen and (max-width: $screen-sm-max) {
                font-size: 1em;
            }
        }
    
        img {
            position: relative;
            width: 200px;
            margin-top: -40px;
    
            @media screen and (max-width: $screen-sm-max) {
                width: 160px;
                margin-top: 20px;
            }
        }
    }

    &__boxes {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -12px;
    }

    &__box {
        flex-grow: 1;
        width: calc(100% * (1/4) - 24px);
        margin: 12px;
        padding: 24px;
        background-color: #fff;
        box-shadow: 1px 1px 1px rgba(0,0,0,.1);
        cursor: pointer;
        
        @media screen and (max-width: $screen-md-max) {
            width: calc(100% * (1/2) - 24px);
        }
        
        @media screen and (max-width: $screen-sm-max) {
            width: calc(100% - 24px);
        }

        h3 {
            color: #4b8cd0;
            font-weight: 500;
            text-transform: uppercase;
            font-size: 1.2em;
            font-weight: 600;
        }

        p {
            line-height: 1.3;
            color: #6a7c93;
        }

        &:hover {
            background: #eff3f5;

            h3 {
                color: #495762;
            }
        }
    }

    &__community {
        margin-top: 24px;
        padding: 30px;
        background-color: #fff;
        box-shadow: 1px 1px 1px rgba(0,0,0,.1);
    
        .title {
            margin-bottom: 30px;
            font-weight: 500;
            font-size: 1.4em;
            color: #495762;
            text-transform: uppercase;
    
            @media screen and (max-width: $screen-sm-max) {
                text-align: center;
            }
        }
    
        .items {
            overflow: hidden;
            margin: 0 -8px;
        }
        .btn {
            margin-top: 40px;
            color: #2d87cd;
            border: 1px solid rgba(#2d87cd, .8);
        }
    }

    &__community-logos {
        overflow: hidden;
        position: relative;
        
        &::before {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: 1px;
            background-color: #fff;
            content: '';
        }
            
        &::after {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            height: 1px;
            background-color: #fff;
            content: '';
        }
    
        &__item {
            float: left;
            position: relative;
            width: 25%;
            height: 152px;
            text-align: center;
            background-color: #fff;
            border-right: 1px solid #eeeeee;
            border-bottom: 1px solid #eeeeee;
    
            @media screen and (max-width: $screen-sm-max) {
                width: 50%;
                padding: 16px 0;
            }
    
            img {
                max-height: 92;
                max-width: 80%;
                top: 50%;
                left: 50%;
                position: absolute;
                transform: translate(-50%, -50%)
            }
        }
    }    
}


// intro animation
@function multiple-box-shadow ($n) {
    $value: '#{random(2000)}px #{random(2000)}px #FFF';
    @for $i from 2 through $n {
        $value: '#{$value} , #{random(2000)}px #{random(2000)}px #FFF';
    }

    @return unquote($value);
}


$shadows-small:  multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big:    multiple-box-shadow(100);

#stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
    animation: animStar 50s linear infinite;
    opacity: .6;

    &:after {
        position: absolute;
        top: 2000px;
        width: 1px;
        height: 1px;
        background: transparent;
        box-shadow: $shadows-small;
        content: "";
    }
}

#stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
    animation: animStar 100s linear infinite;
    opacity: .6;

    &:after {
        content: "";
        position: absolute;
        top: 2000px;
        width: 2px;
        height: 2px;
        background: transparent;
        box-shadow: $shadows-medium;
    }
}

#stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-big;
    animation: animStar 150s linear infinite;
    border-radius: 2px;
    opacity: .6;

    &:after {
        content: "";
        position: absolute;
        top: 2000px;
        width: 3px;
        height: 3px;
        background: transparent;
        box-shadow: $shadows-big;
    }
}

@keyframes animStar {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-2000px)
    }
}
