$body-font-family: 'Muli', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Heebo');
@import '../common/styles/config';

@import 'node_modules/foundation-sites/scss/foundation';

$fa-font-path: '../../node_modules/font-awesome/fonts';
@import 'node_modules/font-awesome/scss/font-awesome';

@include foundation-global-styles;
@include foundation-flex-classes;
@include foundation-flex-grid;
@include foundation-typography;
@include foundation-visibility-classes;


html,
body {
    height: 100%;
}

body {
    background-color: #f5f8fa !important;
}

.pull-right {
    float: right;
}

.main {
    position: relative;
    min-height: 100vh;
    padding-bottom: 64px;
    @include clearfix;
    font: 400 16px/1.3 'Heebo', sans-serif;
    color: #fff;

    a {
        color: #4884cd;

        &:hover {
            color: #4884cd;
        }
    }

    &__container {
        width: $base-width;
        max-width: 100%;
        margin: 0 auto;
        padding: 0 20px;
    }

    &__header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        height: $header-height;
        line-height: $header-height;
        background: linear-gradient(to right, rgba(#270c53, 0.9) 0%, rgba(#3e449d, 0.9) 100%), url(../assets/images/stars.gif) bottom;
    }

    &__logo {
        display: inline-block;
        cursor: pointer;

        img {
            width: 2.4em;
        }
    }

    &__logo-text {
        display: inline-block;
        vertical-align: middle;
        width: 56px;
        line-height: 1;
        margin: 10px 0 0 4px;

        svg {
            fill: #fff;
        }
    }

    &__header-nav {
        float: right;

        @media screen and (max-width: $screen-sm-max) {
            float: none;
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            overflow: auto;
            padding: 20px;
            background-color: #FBFAFD;

            &:not(.show) {
                display: none;
            }
        }

        & > a {
            font-weight: 500;

            @media screen and (min-width: $screen-md-min) {
                display: inline-block;
                margin-left: 24px;
                font-size: .9em;
                color:  #fff;
                text-transform: uppercase;

                &:active,
                &:visited {
                    color:  #fff;
                }

                &:hover {
                    color: darken(#fff, 20);
                }

                i {
                    font-size: 1.2em;
                    color: $argo-color-gray-3;
                }

                .github-text {
                    display: none;
                }

                &.active {
                    color: #fff;
                }
            }

            @media screen and (max-width: $screen-sm-max) {
                display: block;
                padding: 6px 0;
                font-size: 1.2em;
                border-bottom: 1px solid #e4e0f2;

                &.active {
                    color: #6d7f8b;
                }
            }

            i {
                vertical-align: middle;
            }
        }

        &-close {
            position: absolute;
            top: 10px;
            right: 10px;
            padding: 10px;
            font-size: 1.4em;
            line-height: 1;
            color: #737275;

            @media screen and (min-width: $screen-md-min) {
                display: none;
            }
        }

        &-toggle {
            float: right;
            
            @media screen and (min-width: $screen-md-min) {
                display: none;
            }
        }
    }

    &__header-subnav {
        @media screen and (min-width: $screen-md-min) {
            display: none;
        }

        a {
            display: block;
            margin-left: 20px;
            font-size: 1.2em;
            border-bottom: 1px solid #e4e0f2;
        }
    }

    &__content {
        padding: $header-height 0 30px;
    }

    &__nav {
        position: relative;
        z-index: 1;
        padding: 24px 0 0;
        background-color: #fff;
        overflow: hidden;
        border-bottom: 1px solid #dee6eb;

        &--hide-sm {
            @media screen and (max-width: $screen-sm-max) {
                display: none;
            }
        }

        @media screen and (max-width: $screen-sm-max) {
            margin: 0 -20px;
            padding-top: 14px;
        }

        a {
            position: relative;
            display: inline-block;
            padding: 18px 30px;
            color: #4a90e2;
            font-weight: 500;
            transition: color .2s;

            @media screen and (min-width: $screen-lg-min) {
                &:first-child {
                    margin-left: 60px;
                }
            }

            @media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
                padding-left: 12px;
                padding-right: 12px;
                font-size: .84em;
            }

            @media screen and (max-width: $screen-sm-max) {
                display: block;
                margin: 0 !important;
                color: #fff;
                background-color: #445086;
                border-bottom: 1px solid #626c99;

                &:active,
                &:hover,
                &:focus {
                    color: #fff;
                }
            }

            &.active {
                @media screen and (min-width: $screen-md-min) {
                    color: #000;

                    &::after {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        height: 3px;
                        background-color: #6778db;
                        content: '';
                    }
                }

                @media screen and (max-width: $screen-sm-max) {
                    font-weight: 500;
                    background-color: #4477a0;
                }
            }

            i {
                vertical-align: middle;
                margin-right: 4px;
                font-size: 18px;
                color: #aaa;
            }
        }
    }

    &__intro {
        padding: 30px 0;
        text-align: center;
        background: linear-gradient(to top left, rgba($base-color, 0.9) 0%, rgba($base-color, 0.9) 100%), url(../assets/images/stars.gif);

        @media screen and (max-width: $screen-sm-max) {
            padding: 6px 0;
        }

        h1 {
            font-family: inherit;
            font-weight: 500;
            font-size: 2em;
            color: #fff;

            @media screen and (max-width: $screen-sm-max) {
                font-size: 1.2em;
            }
        }
    }

    &__box {
        margin: 10px 0;
        padding: 30px 20px;
        background: #fff;
        border-radius: 6px;
        box-shadow: -1px 1px 2px rgba(#000, .1);

        h3 {
            margin-bottom: 20px;
            color: $argo-orange;
            font-size: 1.2em;
        }

        ul {
            margin-bottom: 0;

            > li > ul {
                list-style-type: circle;

                > li > ul {
                    list-style-type: disc;
                }
            }
        }

        li {
            color: #788994;
        }
    }

    &__footer {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 64px;
        line-height: 64px;
        background-color: #dfe4e9;
    }

    &__footer-logo {
        display: block;
        width: 120px;
        padding: 0 20px;
    }
}
